body {
    margin: 0;
    padding: 0;
    background-color: #acb4f4;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e212d;
}

h1 {

    color: #acb4f4;
}

form {
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 50%;
    margin-bottom: 1vh;
}

input {
    display: flex;
    width: 80%;
}

button {
    display: flex;
    color: white;
    background-color: #eb6f4c;
    align-items: center;
    border-color: #eb6f4c;
}

.main {
    display: flex;
    font-size: xx-large;
    font-weight: bold;
    color: #1e212d;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
}

.other {
    display: flex;
    font-size: xx-large;
    font-weight: bold;
    color: #1e212d;
    text-align: center;
    align-items: flex-start;
    gap: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5vh;
}

.grp1 {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    gap: 5px
}

img.mainCondition {
    height: 165px;
}

.grp2 {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.grp3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img.otherCondition {
    height: 15vh;
}

.weekBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    background-color: rgb(255, 217, 199);
    padding: 1%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
}